@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}


/* shared color */

.primary-btn {
    background-color: #4E47FF;
    color: #ffffff;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}



/* navbar style */

nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

nav> img{
    height: 50px;
    width: 100px;
}
    
/* hero-section style */

.hero-section{
    background-image: url(/Assets/Hero-bg.png);
}

.hero-content{
    text-align: center;
    padding: 155px 0;
}

.hero-title{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
}